.features{
    max-width: 100vw;
    width: 100%;
    height: 800px;
    background-color: #080808;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    gap: 1rem;
}
.carousel-features {
    position: relative;
    width: 100%;
    max-width: 100vw;
    margin: auto;
    overflow: hidden;
    border-radius: 10px;
    margin-block:5.2rem;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.carousel-track-features {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item-features {
    min-width: 100%;
    max-width: 100vw;
    position: relative;
    text-align: center;
}

.carousel-item-features img {
    max-width: 100vw;
    width: 100%;
    height: 720px;
    object-fit: cover;
    border-radius: 10px;
}

.carousel-content-features {
    max-width: 100vw;
    width: 100%;
    height: 720px;
    position: absolute;
    bottom:0;
    left: 50%;
    transform: translateX(-50%);
    background: linear-gradient(to left,#000,transparent);
    border-radius: 10px;
}
.carousel-content-features>div{
    display: flex;
    flex-direction: column;
    align-items: end;
    height: 380px;
    justify-content: flex-end;
    margin-inline-end: 10.2rem;
}

.carousel-content-features >div h2 {
    margin: 0;
    font-size: 4.8rem;
    color: #fff;
}
.carousel-content-features >div h3{
    margin: 0;
    font-size: 3.4rem;
    color: #fff;
    font-weight: bold;
    margin-block: 0.6rem
}


.carousel-content-features >div p {
    margin: 10px 0;
    color: #fff;
    margin-block-end: 2.2rem;
}
.carousel-content-features >div span{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 500;
    font-style: italic;
    letter-spacing: 0.15rem;
    color: #e50000;
}
.carousel-content-features >div .btns{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: end;
    margin-bottom: 10px;
}

.carousel-content-features >div button {
    padding: 10px 30px;
    border: none;
    font-size: 1rem;
    background: #ffffff;
    color: #000;
    border-radius: 5px;
    cursor: pointer;
    margin-inline: 0.6rem;
    transition: background 0.3s ease-out, color 0.3s ease-out;
}

.carousel-content-features >div button:hover {
    background: #e50000;
    color: #fff;
}

.carousel-indicators-features {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.carousel-indicators-features div {
    width: 10px;
    height: 10px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.3s;
}

.carousel-indicators-features div.active {
    background: #e50000;
    box-shadow: 0 0 10px 2px #e50000;
}

@keyframes fade-in {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

.fade-in {
    animation: fade-in 0.8s ease-in-out;
}

@media (max-width: 768px) {
    .carousel-content-features {
        flex-direction: column;
        background: linear-gradient(to bottom, #000,#00000057, transparent);
        font-size: 14px;
        padding: 10px;
    }
    .carousel-content-features  >div{
        margin-inline-end: 0;
        height: auto;
        align-items: center;
        justify-content: center;
    }
    .carousel-content-features >div h2{
        font-size: 2rem;
        text-align: left;
    }
    .carousel-content-features  >div h3{
        font-size: 1.6rem;
        text-align: left;
    }
    .carousel-content-features >div p{
        text-align: left;
        font-size: 12px;
    }
    .carousel-content-features >div .btns{
        flex-direction: row-reverse;
        align-items: flex-start;
        gap: 5px;
    }
    .carousel-content-features >div .btns button{
        padding: 0.4rem 1.8rem;
        margin-left: 0;
        margin-right: 5px;
    }
 
}