.hero-low{
    max-width: 100vw;
    width: 100%;
    height: 720px;
    background-color: #080808;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    gap: 1rem;
}

.hero-low .container{
    height: max-content;
    max-width: 100vw;
    width: 100%;
    padding: 2rem;
}


.hero-low .container .header{
    height: 280px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
    gap: 1rem;
}
.hero-low .container .header h2{
    color: #f50000;
    font-size: 3.5rem;
    font-weight: 700;
    line-height: 1;
    text-align: right;
    margin-block: 0.6rem;
    letter-spacing: -0.02rem;
}
.hero-low .container .header h3{
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: right;
    letter-spacing: 0.01rem;
}
.hero-low .container .header p{
    font-size: 1.2rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: right;
    margin-block-start: 0.4rem;
    letter-spacing: 0.01rem;
}
.hero-low .container .box {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}
.hero-low .container .box  .content {
    background-color: #1a1a1a;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
    border-radius: 12px;
    transition: transform 0.3s ease, background 0.3s ease, box-shadow 0.3s ease;
}

.hero-low .container .box  .content:hover {
    transform: scale(1.02);
    background: #ddd;
    box-shadow: 0 0 10px 2px #ddd;
}

.hero-low .container .box  .content  >div{
    background-color: #1a1a1a;
    width: 100%;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 1rem;
    border-radius: 12px;
}
.hero-low .container .box  .content  >div img{
    width: 105%;
    height: auto;
    aspect-ratio: 16/7;
    object-fit: cover;
    border-radius: 12px;
}
/*Responsividade*/

@media screen and (max-width: 768px) {
    .hero-low{
        height: auto;
        width: 100%;
        flex-direction: column;
    }
    .hero-low .container {
        height: auto;
        width: 100%;
        flex-direction: column;
    }
    .hero-low .container .header h2{
        font-size: 3rem;
    }
    .hero-low .container .header h3{
        font-size: 1.2rem;
    }
    .hero-low .container .header p{
        font-size: 1rem;
    }
    .hero-low .container .box{
        background-color: #080808;
        flex-direction: column;
    }
    .hero-low .container .box  .content {
        background-color: #080808;
        width: 100%;
        height: 100%;
    }
    .hero-low .container .box  .content >div{
        background-color: #080808;
        margin-block: 1.2rem;
        height: 100%;
        width: 100%;
    }
}