footer{
    max-width: 100vw;
    width: 100%;
    height: 420px;
    background-color: #1a1a1a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    gap: 1rem;
}
footer .container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
footer .container .box{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 1rem;
}
footer .container .box >div{
    background-color: #1a1a1a;
    width: 20%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
footer .container .box >div h2{
    font-size: 2.8rem;
    text-align: left;
    margin-block: 1.1rem;
}
footer .container .box >div p{
    font-size: 1.2rem;
    text-align: left;
    margin-block:0.25rem;
}
footer .container .box >div ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
footer .container .box >div ul li{
    margin-block: 0.6rem;
}
footer .container .box >div ul li a{
    color: #ff0000;
    text-decoration: none;
}
/*Responsividade*/

@media only screen and (max-width: 768px){
    footer {
        height: auto;
        width: 100%;
    }
    footer .container{
        height: auto;
        width: 100%;
    }
    footer .container .box{
        height: auto;
        width: 90%;
        flex-direction: column;
        gap: 0;
    }
    footer .container .box >div{
        height: auto;
        width: 100%;
        margin-bottom: 1rem;
    }
    footer .container .box >div h2{
        font-size: 2rem;
    }
    footer .container .box >div p{
        font-size: 1rem;
    }
}