*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    font-family: Arial, sans-serif;
    height: 100vh;
    background-color: #000000;
    overflow-x: hidden;
}

main{
    margin: 0 auto;
    padding: 1.6rem;
    overflow-x: hidden;
}